#navbar{
	background: #000000;
	padding: 0px;
	height: 160px;
	position: fixed;
	top:0;
	left:0;
	z-index: 0;
	width: 100%;
}

body{
	background-color: #ffffff;
	padding: 130px;
}


section {
	padding: 70px;
}

img{
	height: 150px;
}